<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Invoice</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        /* Dodatkowy styl CSS */
        .narrow-input {
            max-width: 300px; /* Ogranicz szerokość pól formularza */
        }
        body {
            margin-left: 50px;
        }
    </style>
</head>
<body>
<h2>Add Invoice</h2>
<form th:action="@{/invoices/add}" method="post">
    <div class="form-group">
        <label for="invoiceNumber" class="narrow-input">Invoice Number</label>
        <input type="text" class="form-control narrow-input" id="invoiceNumber" name="invoiceNumber" required>
    </div>
    <div class="form-group">
        <label for="date" class="narrow-input">Date</label>
        <input type="date" class="form-control narrow-input" id="date" name="date" required>
    </div>
    <div class="form-group">
        <label for="amount" class="narrow-input">Amount</label>
        <input type="number" class="form-control narrow-input" id="amount" name="amount" required>
    </div>

    <h3>Items</h3>
    <div id="items-container">
    </div>
    <button type="button" class="btn btn-primary" onclick="addItem()">Add Item</button>

    <button type="submit" class="btn btn-success">Save Invoice</button>
</form>
<a th:href="@{/invoices}" class="mt-2">Back to Invoices</a>
<script th:inline="javascript">
    var itemCounter = 0;

    function addItem() {
        var itemRow = document.createElement("div");
        itemRow.className = "item-row";
        itemRow.innerHTML = `
            <div class="form-group">
                <label for="items[${itemCounter}].itemName" class="narrow-input">Item Name</label>
                <input type="text" class="form-control narrow-input" id="items[${itemCounter}].itemName" name="items[${itemCounter}].itemName" required>
            </div>
            <div class="form-group">
                <label for="items[${itemCounter}].itemAmount" class="narrow-input">Price</label>
                <input type="number" class="form-control narrow-input" id="items[${itemCounter}].itemAmount" name="items[${itemCounter}].itemAmount" required>
            </div>
            <button type="button" class="btn btn-danger" onclick="removeItem(this)">Remove</button>
        `;
        document.getElementById("items-container").appendChild(itemRow);
        itemCounter++;
    }

    function removeItem(button) {
        button.parentNode.remove();
    }
</script>
</body>
</html>
