<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoices</title>
</head>
<body>
<h1>Invoices</h1>
<table>
    <thead>
    <tr>
        <th>Invoice Number</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Items</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoice : ${invoices}">
        <td th:text="${invoice.invoiceNumber}"></td>
        <td th:text="${invoice.date}"></td>
        <td th:text="${invoice.amount}"></td>
        <td>
            <a th:href="@{/thymleaf-invoices/{id}(id=${invoice.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
