<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Update Invoice</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Update Invoice</h1>

<form th:action="@{/invoices/update/{id}(id=${updateInvoice.id})}" th:object="${updateInvoice}" method="post">
    <input type="hidden" th:field="*{id}"/>
    Invoice Number: <input type="text" th:field="*{invoiceNumber}"/><br/>
    Date: <input type="date" th:field="*{date}"/><br/>
    Amount: <input type="text" th:field="*{amount}"/><br/>

    <h2>Items</h2>
    <table id="itemsTable">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr th:each="item, itemStat : ${updateInvoice.items}">
            <td><input type="text" th:field="*{items[__${itemStat.index}__].itemName}"/></td>
            <td><input type="number" th:field="*{items[__${itemStat.index}__].itemAmount}"/></td>
            <td><button type="button" class="btn btn-danger" onclick="removeItem(this)">Remove</button></td>
        </tr>
    </table>

    <button type="button" class="btn btn-primary" onclick="addItem()">Add Item</button>


    <button type="submit">Save Changes</button>
</form>

<a th:href="@{/invoices}">Back to Invoices</a>
<script th:inline="javascript">
    function removeItem(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
        itemCounter--;
    }
    var itemCounter = /*[[${itemSize}]]*/;

    function addItem() {
        var itemRow = document.createElement("div");
        itemRow.className = "item-row";
        itemRow.innerHTML = `
            <div class="form-group">
                <label for="items[__${itemCounter}__].itemName">Item Name</label>
                <input type="text" class="form-control" id="items[${itemCounter}].itemName" name="items[${itemCounter}].itemName" required>

            </div>
            <div class="form-group">
                <label for="items[__${itemCounter}__].itemAmount">Price</label>
                <input type="number" class="form-control" id="items[${itemCounter}].itemAmount" name="items[${itemCounter}].itemAmount" required>
            </div>
            <button type="button" class="btn btn-danger" onclick="removeItem(this)">Remove</button>
        `;
        document.getElementById("itemsTable").appendChild(itemRow);
        itemCounter++;
    }
</script>
</body>
</html>
